#dbt
target/
dbt_packages/
dbt_modules/
logs/
.dbt/
.DS_STORE
.DS_STORE/
dbt_sugar_logs/
get-pip.py
profiles.yml
.user.yml
models/ignore
models_ignore
.env

#docker
docker-dbt/profiles.yml
docker-dbt/*.p8
docker-dbt/*.key
docker-dbt/*.pub
docker-dbt/.user.yml

#python
venv/

#visualstudio
.vscode

#IntelliJ
.idea

#Snowflake
.snowflake/*
temp_locals/*
